@charset "UTF-8";

body, html {height: 100%; font-family: do hyeon;}

header {
	height:110px;
	border-bottom: 1px solid #eeeeee;
	text-align: center;
}

footer {
	position: relative;
	left: 6%;
	border-top: 1px solid #eeeeee;
	text-align : left;
	height:200px;
	clear:both;
	margin : 0;
	width: 85%;
}

footer p{
	margin-block-start: 0em;
	margin-block-end: 0em;
	color: #CDCDCD;
}

#memberTab a{
	display: inline-block;
	line-height: 100px;
	text-decoration:none;
}


#hlogin_id_span {
	font-weight: bold;
}


#alarm_cnt {
	color: #FFFFFF;
}

#alarm_chk {
	border-radius: 5px;
	border: #58ACFA solid 1px; 
	color: white;
	background-color: #58ACFA;
	margin-right: 5px;
}

#alarm_del {
	border-radius: 5px;
	border: #F2F2F2 solid 1px; 
	color: black;
	background-color: #F2F2F2;
	margin-left: 5px;
}

#alarm_chk:hover {
	border: #2E9AFE solid 1px; 
	background-color: #2E9AFE;
}

#alarm_del:hover {
	border: #E6E6E6 solid 1px;
	background-color: #E6E6E6;
}


.alarm_count_div {
	background-color: #B40404;
	width: 20px;
	height: 20px;
	border-radius: 1em;
	text-align: center;
	cursor: pointer;
	display: inline-block;
	position: relative;
	right: 14px;
}

.alarm_hidden_div {
	overflow-y: auto;
	width: 175px;
	height: 300px;
	border: skyblue solid 1px;
	scrollbar-color: #D4AA70 #e4e4e4;
}
/* 스크롤바 설정 */
.alarm_hidden_div::-webkit-scrollbar {
	width: 12px; /* 스크롤바 막대 너비 */
}
/* 스크롤바 뒷 배경 설정 */
.alarm_hidden_div::-webkit-scrollbar-track {
	background-color: #e4e4e4;
	border-radius: 100px;
}
/* 스크롤바 막대 설정 */
.alarm_hidden_div::-webkit-scrollbar-thumb {
	background-color: skyblue;
	border-radius: 100px; 
}

.alarm_wrap {
	padding: 10 10 0 0;
}

.alarm_text_div {
	margin-top: 5px;
}

.alarm_btn_div {
	margin-top: 5px;
	margin-bottom: 5px;
}

.alarm_hidden_div {
	background-color: white;
	position: absolute;
	z-index: 2;
}


.content_div {
	display: block;
	text-overflow: ellipsis; /* 숨겨지는 영역 끝에 ... 생성 */
	white-sapce: nowrap; /* 글자를 한줄로 모아준다 */
	overflow: hidden; /* 해당 너비 넘어가면 숨김 */
	max-width: 125px;
	height: 25px;
	background-color: pink;
}


.menu_list {
	position: absolute;
	z-index: 1;
}

.searchBar {
	margin-top: 15px;
	text-align: center;
}
.calendarBox {
	margin-top: 20px;
	position: absolute;
	left: 50%;
	transform: translate(-50%);
	visibility: hidden;
	width: 900px;
	height: 250px;
	background-color: #E3E4E9;
	box-shadow: 0px 5px 20px 0px;
	border-radius: 1em;
	z-index : 1;
}

.calendar {
	padding: 10px;
	width: 50%;
	float: left;
	text-align: center;
	table-layout: fixed;
}

.checkbar{
	display: inline-block;
	height: 80px;
	cursor: pointer;
}

.cdate:hover {
	border: 1px solid red;
	border-radius: 100px;
}

.peopleBox {
	margin-top: 20px;
	position: absolute;
	left: 62%;
	visibility: hidden;
	width: 100px;
	text-align : center;
	background-color: #E3E4E9;
	box-shadow: 0px 5px 20px 0px;
	border-radius: 1em;
	z-index : 1;
}

/* Search 영역 CSS */

nav {
	width:220px;
	height:100%;
	float:left;
	margin-top: 20px;
	border-right: 1px solid #eeeeee;
	text-align:center;
}

#searchResult a{	
	text-decoration : none;
	color : black;
}

#searchResult li{
	border: 1px solid #eeeeee;
	border-radius : 1em;
	margin: 10px;
	height: 100%;
	margin-bottom: 30px;
}

#searchResult img{
	height: 100%;
	border-radius: 1em;
}

#searchResult p{
	margin:10px;
}
input[type=range] { 
    -webkit-appearance: none;
    width:70%;
    height: 3px;
    background: #ff6666;
  }

input[type=range]::-webkit-slider-thumb{
    -webkit-appearance: none;
    height: 13px;
    width: 13px;
    border-radius: 15px;
    outline: 0;
    border: 1px solid #ff6666;
    background: #ff6666;
}