@charset "UTF-8";
header {
	height:110px;
	border-bottom: 1px solid #eeeeee;
}

nav {
	background-color:#339999;
	color:white;
	width:220px;
	height:100%;
	float:left;
}

footer {
	position: relative;
	left: 6%;
	border-top: 1px solid #eeeeee;
	text-align : left;
	height:200px;
	clear:both;
	margin : 0;
	width: 85%;
}

footer p{
	margin-block-start: 0em;
	margin-block-end: 0em;
	color: #CDCDCD;
}

header, nav, section { text-align:center;}
body, html {height: 100%; font-family: do hyeon;}
section {height: 220px;}

#memberTab a{
	display: inline-block;
	line-height: 100px;
	text-decoration:none;
}
.searchBar {
	margin-top: 15px;
	text-align: center;
}
.calendarBox {
	margin-top: 20px;
	position: absolute;
	left: 50%;
	transform: translate(-50%);
	visibility: hidden;
	width: 900px;
	height: 250px;
	background-color: #E3E4E9;
	box-shadow: 0px 5px 20px 0px;
	border-radius: 1em;
	z-index : 1;
}

.calendar {
	padding: 10px;
	width: 50%;
	float: left;
	text-align: center;
	table-layout: fixed;
}

.checkbar{
	display: inline-block;
	border: 1px solid black;
	height: 80px;
	border-radius: 1em;
}

.cdate:hover {
	border: 1px solid red;
	border-radius: 100px;
}

.peopleBox {
	margin-top: 20px;
	position: absolute;
	left: 80%;
	transform: translate(-50%);
	visibility: hidden;
	width: 100px;
	left: 60%;
	text-align : center;
	background-color: #E3E4E9;
	box-shadow: 0px 5px 20px 0px;
	border-radius: 1em;
	z-index : 1;
}

.alarm_count_div {
	background-color: #B40404;
	width: 20px;
	height: 20px;
	border-radius: 1em;
	text-align: center;
	cursor: pointer;
	display: inline-block;
	position: relative;
	right: 14px;
}

.alarm_hidden_div {
	overflow-y: auto;
	width: 175px;
	height: 300px;
	border: skyblue solid 1px;
	scrollbar-color: #D4AA70 #e4e4e4;
}
/* 스크롤바 설정 */
.alarm_hidden_div::-webkit-scrollbar {
	width: 12px; /* 스크롤바 막대 너비 */
}
/* 스크롤바 뒷 배경 설정 */
.alarm_hidden_div::-webkit-scrollbar-track {
	background-color: #e4e4e4;
	border-radius: 100px;
}
/* 스크롤바 막대 설정 */
.alarm_hidden_div::-webkit-scrollbar-thumb {
	background-color: skyblue;
	border-radius: 100px; 
}

.alarm_wrap {
	padding: 10 10 0 0;
}

#alarm_cnt {
	color: #FFFFFF;
}

#hlogin_id_span {
	font-weight: bold;
}

.content_div {
	display: block;
	text-overflow: ellipsis; /* 숨겨지는 영역 끝에 ... 생성 */
	white-sapce: nowrap; /* 글자를 한줄로 모아준다 */
	overflow: hidden; /* 해당 너비 넘어가면 숨김 */
	max-width: 125px;
	height: 25px;
	background-color: pink;
}

.alarm_hidden_div {
	background-color: white;
	position: absolute;
	z-index: 2;
}

.menu_list {
	position: absolute;
	z-index: 1;
}