@charset "UTF-8";

.calendarBox {
	margin: 20px;
	background-color: gainsboro;
	visibility: hidden;
	width: 900px;
	height: 350px;
	position: absolute;
}

.calendar {
	padding: 20px;
	width: 50%;
	float: left;
	text-align: center;
	table-layout: fixed;
	
}