@charset "UTF-8";

.calendarBox {
	margin: 20px;
	position: absolute;
	visibility: hidden;
	width: 900px;
	height: 350px;
	background-color: gainsboro;
	box-shadow: 0px 5px 20px 0px;
}

.calendar {
	padding: 20px;
	width: 50%;
	float: left;
	text-align: center;
	table-layout: fixed;
	
	
}

.checkbar{
	display: inline-block;
	border: 1px solid black;
	height: 100%;
}

.checkbar p{
	width:100%;
}

.cdate:hover {
	border: 1px solid red;
	border-radius: 100px;
}

.peopleBox {
	margin: 20px;
	position: absolute;
	visibility: hidden;
	width: 100px;
	height: 80px;
	left: 30%;
	text-align : center;
	background-color: gainsboro;
	box-shadow: 0px 5px 20px 0px;
}